/*create header*/

#Logo{
    background-color: #ffffff;
    height: 73px;
    background-repeat: repeat-x;
    margin: 0px;
    padding-top: 12px;
    padding-left: 20px;
}

#img{
    vertical-align: middle;    
    
}

#Toboolist{

    vertical-align: middle;
    font-size: 38px;
    font-style: normal;
}
/*/create header*/

/*create main*/

/*create conteiner*/
body{
    background-color: #f6f8f9;
    margin: 0px;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
}
#container{
    background-color: white;
    height: 633px;
    max-width: 787px;
    margin: 37px auto;
    background-repeat: no-repeat;
}
/*/create conteiner*/

/*menu selector*/
#addtask{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    margin-left: 50px;
    background-color: #47adf1;
    margin-top: 15px;
    border: solid 2px;
    border-color: #47adf1;
}
#addsection{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #d4d9dc;
    margin-left: 5px;
    border-color: #d4d9dc;
    border: solid 2px;
}
hr{
    height: 3px;
    background-color: #f6f8f9;
    margin: 0;
    border: 0;
    margin-top: 7px;
}
/*/menu selector*/

/*main menu fissi*/
section{
    margin-left: 50px;
    margin-top: 35px;
}
.freccia{
    font-size: 20px;
}

.spunta{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 100%;
    font-size: 10px;
    font-weight: 500;
    color: #64c0a8;
    margin-left: 5px;
    border-color: #64c0a8;
    border: solid 2px;
    padding-top: 0px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 0px;
    margin-right: 10px;
    vertical-align: middle;
}

p{
    vertical-align: middle;

}

.tag{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    border-collapse: collapse;
}

.x{
     display: inline-block;
    padding: 4px 10px;
    border-radius: 100%;
    font-size: 10px;
    font-weight: 500;
    color: #ee6a62;
    margin-left: 5px;
    border-color: #ee6a62;
    border: solid 2px;
    padding-top: 0px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 0px;
    margin-right: 10px;
    vertical-align: middle;
}

.spazi{
    margin-top: 35px;
    margin-left: 50px;
}
/*/main menu fissi*/

/*main menu variabili*/
.editorial{
    background-color: #47adf1;
}

.q1goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a8;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a0;
}

.sales{
    background-color: #b0c926;
}
/*/main menu variabili*/

/*/create main*/



